{% extends "base.html" %}

{% block titulo %}
    <div class="container">
        <h1 class="mt-5">Nuevo Tablero</h1>
    </div>
{% endblock %}

{% block contenido %}
    <div class="container">
     <div class="card w-50">
      <div class="card text-white bg-info mb-6" >
        <div class="card w-75">
          <div class="card-body">
            <form action="" method="post">
               <h5 class="card-title text-info">{% csrf_token %} {{ tablero_form }}</h5>
                <input type="submit"class="btn btn-primary" value="Agregar" />
            </form>
          </div>
        </div>
      </div>
     </div>
    </div>
{% endblock %}