{% extends "base.html" %}

{% block titulo %}
    <div class="container">
        <h1 class="mt-5">Editar Tablero</h1>
    </div>
{% endblock %}

{% block contenido %}

    <div class="container">
        <div class="card card-4">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper form-group" aria-required={% if field.field.required %} "true"
                        {% else %}"false"{% endif %}>
                        {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}