{% extends "base.html" %}

{% block titulo %}
    <div class="container">
        <h1 class="mt-5">Editar Tablero</h1>
    </div>
{% endblock %}

{% block contenido %}

    <div class="container">
        <div class="card card-4">
            <div class="card-body">
                <form method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}