* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight:100;
}
/* text */
.text-center{
  text-align:center;
}
/* Container */
.container{
  width:85%;
  height:100%;
  margin:0 auto;
}
/* body */
body {
  width: 100%;
  height: 100%;
  background-color:#022735;
}
/* menubar */
.menu {
  width: 100%;
  height: 50px;
  background-color: #0bcbda;
  box-shadow:0px 2px 5px rgba(0,0,0,.6);
  position:fixed;
  margin-bottom:25px;
  
}
.menu ul {
  list-style-type: none;
  
}
/*Menu title*/
.menu ul.menu-title{
  float:left;
  padding-left:20px;
  padding-right:20px;
  width:auto;
}
.menu ul.menu-title li{
  display:inline-table;
  line-height:50px;
}
.menu ul.menu-title li a{
  text-decoration:none;
  font-size:1.2em;
  font-weight:100;
  color:#0a0a0a;
  transition:all .1s linear;
  
}
.menu ul.menu-title li a:hover{
  transition:all .3s fade-in;
  color:#BFBFBF;
}
/*Menu content*/
.menu ul.menu-content{
  width:auto;
}
.menu ul.menu-content li {
  display: inline-table;
  line-height: 50px;
  position:relative;
}
.menu ul.menu-content li a {
  text-decoration: none;
  color: #457485;
  font-size: .9em;
  padding-left:10px;
  padding-right:10px;
  padding-top:16px;
  padding-bottom:16px;
  transition:all .1s linear;
}
.menu ul.menu-content li a:hover{
  color:#BFBFBF;
  background-color:#103E50;
  
}
/* dropdown-menu  */
.menu ul.menu-content li.dropdown-menu{
  position:absolute;
  opacity:1;
}
/* menu search */
.menu-search{
  width:auto;
  float:right;
  margin-top:-40px;
}
.menu ul.menu-search li input.search-box{
  padding:8px;
  padding-left:15px;
  padding-right:15px;
  background-color:#103e50;
  border:none;
  transition:all .2s linear;
  outline:none;
}
.menu ul.menu-search li input.search-box[placeholder]{
  font-size:.75em;
  color:#fff;
}
 .menu ul.menu-search li input.search-box:focus{
  background-color:#19647F;
}

/* web content  */
.content{
  padding-top:100px;
}
.content .card{
  height:auto;
  background-color:#f4f4f4;
  padding-top:25px;
  padding-bottom:30px;
  box-shadow:0px 5px 6px rgba(0,0,0,.4);
  margin-bottom:30px;
}
.content .card .card-content{
  width:85%;
  margin:0 auto;
}
.content .card .card-content h1{
  padding-bottom:15px;
}


/* about box  */
.about-box{
  width:100%;
  height:auto;
  padding-top:15px;
  padding-bottom:15px;
}
.about-box p{
  color:#103e50;
  font-size:.75em;
}
.about-box p a{
  color:#103e50;
  text-decoration:none;
}