
{% extends "base.html" %}

{% block titulo %}
    <div class="container">
        <div class="d-flex justify-content-center">
        <h1 class="mt-5">Iniciar Sesión</h1>
        </div>
    </div>
{% endblock %}

{% block contenido %}
    <div class="container">
         
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Ingresar</button>
            </form>
            No tienes una cuenta? <a href="?" target="blank"><strong>registrate</strong></a>!
         
    </div>

{% endblock %}