{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <link type='text/css'href='{%static "css/plantillalogin.css" %}' rel ='stylesheet'/ >
</head>
<body>
  <div class="login">
    <div class="login-screen">

        <div class="app-title">
            <h1>Iniciar Sesión</h1>
        </div>

        <form class="login-form" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="control-group">
                {{ form.username.errors }}
                <label class="login-field-icon fui-user" for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
                {{ form.username }}
            </div>

            <div class="control-group">
                {{ form.password.errors }}
                <label class="login-field-icon fui-user" for="{{ form.password.id_for_label }}">{{ form.password.label_tag }}</label>
                {{ form.password }}
            </div>

            <input class="btn btn-primary btn-large btn-block" type="submit" value="Ingresar">
            <input type="hidden" name="next" value="/tableros/principal">
    {#        <a class="login-link" href="http://127.0.0.1:8000/accounts/recuperar/">¿Olvidaste tu contraseña?</a>#}
    {#        <a class="login-link" href="http://127.0.0.1:8000/accounts/registrarse/"> Registrarse</a>#}
      </form>
    </div>
  </div>
</body>
</html>
