{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>principal</title>
  <link type='text/css'href='{%static "css/plantillaprincipal.css" %}' rel ='stylesheet'/ >
</head>
</head>
<body>
<!-- menu -->
  <div class="menu">
    <div class="container">
<!-- menu title -->
    <ul class="menu-title">
      <li><a href="#!">Menu</a> </li>
    </ul>
      <!-- menu content -->
    <ul class="menu-content">
      <li><a href="#!">Inicio</a></li>
      <li><a href="#!">Tableros</a></li>
      <li><a href="#!">Equipo</a></li>
      <li><a href="http://127.0.0.1:8000/accounts/login/">Cerrar Sesión</a></li>
      </li>
    </div>
  </div>
 </body>
</html>