
{% extends "base.html" %}

{% block titulo %}
    <div class="container">
        <div class="d-flex justify-content-center">
           <h1 class="mt-5">Registrarse</h1>
        </div>
    </div>
{% endblock %}

{% block contenido %}
 <div class="d-flex justify-content-center">
    <div class="container">
        <div class="card card-4">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}

                    {% for field in registro_form %}
                        <div class="fieldWrapper form-group" aria-required={% if field.field.required %} "true"
                        {% else %}"false"{% endif %}>
                        {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Guardar</button>
                 </form>
            </div>
        </div>
    </div>
 </div>
{% endblock %}